@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$bg: white;
$textColor: #333;
$quickSansFamily: 'Quicksand', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $textColor;
  font-family: $quickSansFamily;
  background: $bg;
}

.outer {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  display: table;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  width: 80%;
  margin: 0 auto;

  .quote {
    font-size: 3em;
    font-style: italic;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
  }

  .author {
    margin-top: 20px;
    font-size: 2em;
    text-align: right;
  }
}

.quote::before, .quote::after {
  content: ' " ';
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
}

.author::before {
  content: "- ";
}

/* CSS LOADER */

.lds-heart {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  transform-origin: 32px 32px;
}
.lds-heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: $textColor;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: $textColor;
}
.lds-heart div:before {
  left: -17px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -17px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}



