@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$bg: white;
$openSansFamily: 'Open sans', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $openSansFamily;
  background: $bg;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  .header {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    .profile-image {
      border-radius: 50%;
      width: 100%;
    }


    .left {
      width: 25%;
    }

    .right {
      padding: 20px;
      width: 75%;

      h1 {
        font-size: 2.5em;
      }

      span {
        font-style: italic;
      }
    }
  }
}